body {
    font-family: Arial, sans-serif;
    background-color:rgb(71, 71, 71);
    text-align: center;
    margin: 0;
}

#main-header {
    background-color:blue;
    color:aliceblue;
    padding: 20px;
}

@keyframes pulse-green {
    from { background-color:rgb(137, 169, 197)}
    to { background-color:rgb(191, 133, 203)}
}

#hero-banner {
    border: 3px darkblue;
    width: 80%;
    margin: 20px auto;
    padding: 40px;

    animation-name: pulse-green;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.service-box {
    display: inline-block;
    background-color: white;
    border: 2px darkblue;
    width: 200px;
    margin: 20px;
    padding: 20px;

    transition-property: transform, background-color;
    transition-duration: 0.4s;
}

.service-box:hover {
    transform: scale(1.1);
    background-color:darkblue;
    color:antiquewhite;
    cursor: pointer;
}

.service-box:hover h3 {
    transform: translateY(-5px);
    transition: transform 0.3s;
}
